round1_ijcai_18_result_demo_20180301.txt
round1_ijcai_18_test_a_20180301.txt
round1_ijcai_18_train_20180301.txt
src/hph/.ipynb_checkpoints/
src/hph/submits/
*.pyc
src/yuhua/.ipynb_checkpoints/simple_xgb_pure-checkpoint.ipynb
src/yuhua/randomforest_res.csv
